/* NOTE: CSS variable- 'var() function' can also be used within Styled Components.

Variables in CSS should be declared within a CSS selector that defines its scope. 
For a global scope you can use either the :root or the body selector.
The variable name must begin with two dashes (--) and is case sensitive!

The syntax of the var() function is var(name, value) */
:root {
  /* var(name, value) */
  --primaryColor: blue;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.global {
  color: green;
  text-transform: capitalize;
}


.first {
  letter-spacing: 5px;
  /* The var() function is used to insert the value of a CSS variable. */
  color: var(--primaryColor);
}


.second {
  text-transform: uppercase;
  /* The var() function is used to insert the value of a CSS variable. */
  color: var(--primaryColor);
}
